:root {
    --water-color: linear-gradient(to right top, #65dfc9, #6cdbeb);
    --main-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.25));
    --font-color: #16424b;
    --white-color: rgb(240, 240, 240);
    --blue-color: #6cdbeb;
    --green-color: #65dfc9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--water-color);
    color: var(--font-color);
    font-family: "Open Sans", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

/* HEADER */

nav {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70rem;
}

ul li {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    padding: 1rem 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.1s;
}

ul li:hover {
    border: 2px solid var(--font-color);
    border-radius: 2rem;
}

.current-page {
    cursor: initial;
    border: 2px solid var(--font-color);
    border-radius: 2rem;
    background: var(--font-color);
    color: var(--white-color);
}

.logo-container {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    color: var(--font-color);
    cursor: pointer;
    padding: 0.8rem;
    transition: 0.7s;
}

.logo:hover {
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 50%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    padding: 1rem;
}

.search-input {
    font-size: 1.3rem;
    color: black;
    line-height: 3rem;
    float: left;
    outline: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    transition: 0.4s;
    width: 0;
}

.search-container:hover > .search-input {
    background: var(--white-color);
    width: 15rem;
    padding: 0 0.6rem;
}

.search-btn {
    margin-left: -5%;
    background: var(--font-color);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: var(--blue-color);
}

.search-btn:hover {
    color: var(--white-color);
}

.search-icon {
    font-size: 1.5rem;
    transform: rotate(90deg);
}

.social-container {
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-icon {
    padding: 0 0.4rem;
    font-size: 3rem;
    cursor: pointer;
    transition: 1s;
}

.social-icon:hover {
    color: var(--white-color);
}
/* HOMEPAGE SECTION */

.homepage-section {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/pexels-stijn-dijkstra-2499791.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
}

.homepage-section h1 {
    margin-bottom: 10%;
    font-family: "Permanent Marker", cursive;
    font-size: 7rem;
    letter-spacing: 1rem;
    text-transform: capitalize;
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
}

.homepage-section h1:hover {
    color: var(--blue-color);
}

.home-btn {
    margin-top: 5%;
    width: 30rem;
    height: 5rem;
    background: var(--font-color);
    color: var(--white-color);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.2s;
}

.home-btn:hover {
    background: var(--water-color);
    color: var(--font-color);
}

.home-btn p {
    font-size: 2rem;
    text-transform: capitalize;
}

@keyframes down-animation {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 1.5rem;
    }
}

.arrow-down {
    font-size: 2.5rem;
}

.home-btn:hover > .arrow-down {
    animation-name: down-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

/* LATEST POST SECTION */

.latestpost-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* background: red; */
    /* background: var(--white-color); */
    min-height: 80vh;
    width: 100%;
    /* background: var(--main-color); */
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: 0.1rem;
}

.bubble1,
.bubble2,
.bubble3,
.bubble4 {
    z-index: -1;
    background: var(--white-color);
    background: var(--main-color);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.bubble1 {
    height: 20rem;
    width: 20rem;
    top: 105%;
    left: 9.5%;
}

.bubble2 {
    height: 10rem;
    width: 10rem;
    top: 99.5%;
    left: 5%;
}

.bubble3 {
    height: 10rem;
    width: 10rem;
    top: 190%;
    right: 5%;
}
.bubble4 {
    height: 20rem;
    width: 20rem;
    top: 175%;
    right: 10%;
}

.card-container {
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100rem;
    min-height: 40rem;
}

.blog-card {
    overflow: hidden;
    margin: 1rem;
    height: 45rem;
    width: 30rem;
    /* background: var(--main-color); */
    background: #bef0ed;
    border-radius: 2rem;
}

.blog-card img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.blog-card h3,
.blog-card p {
    padding: 1rem 1.5rem;
}

.blog-card h3 {
    text-align: center;
    font-size: 1.6rem;
}

.blog-card p {
    line-height: 2.5rem;
    font-size: 1.4rem;
}

.img-arrow {
    font-size: 3rem;
    margin: 0 3rem;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
}

.img-arrow:hover {
    opacity: 1;
}

/* FOOTER */

footer {
    min-height: 20vh;
    background: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.trademark {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.newsletter-container {
    padding: 1rem;
    height: 10rem;
    width: 32.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--water-color);
    border-radius: 1rem;
}

.newsletter-container p {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
}
.newsletter-container input {
    background: var(--white-color);
    width: 27rem;
    height: 3rem;
    border-radius: 0.6rem;
    border: none;
    text-align: center;
}

.social-footer {
    padding: 0 0.4rem;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
    color: var(--green-color);
    transition: 1s;
}

.social-footer:hover {
    color: var(--white-color);
}

.arrow-container {
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes up-animation {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: 2.5rem;
    }
}

.arrow-up {
    font-size: 4rem;
    color: var(--blue-color);
    cursor: pointer;
    transition: 0.3s;
}

.arrow-up:hover {
    color: var(--white-color);
    animation-name: up-animation;
    animation-duration: 0.8s;
    animation-iteration-count: 2;
}
